.form-container{
    margin-top: 100px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
}

.sign-up{
    background-color: #ffffff;
    color: #000000;
}

.gf-btn-container{
    text-align: center;
}

.gf-btn{
    margin-top: 20px;
}

.btn-sign-log{
    background: #2135c4;
    color: white;
    border-radius: 5px;
    border: 1px solid #2135c4;
}

.user-form input{
    margin: 10px 0;
}

.user-create-text{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.password-match-text{
    color: red;
    font-size: 20px;
    font-weight: bold;
}